{% extends "admin.twig" %}
{% block notification %}{% endblock %}

{% block content %}

    <script type="text/javascript" src="plugins/Counter/assets/js/minicolors.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.color-picker').each(function () {
                $(this).minicolors({
                    control: $(this).data('control') || 'hue',
                    defaultValue: $(this).data('defaultValue') || '',
                    letterCase: $(this).data('letterCase') || 'lowercase',
                    opacity: $(this).data('opacity'),
                    position: $(this).data('position') || 'bottom left',
                    theme: 'default'
                });
            });
            $('.go_back').click(function () {
                window.location.href = 'index.php?module=Counter&action=index&idSite={{ idSite }}&period={{ period }}&date={{ date }}';
            });
            $('input.paths').blur(function () {
                var elem = $(this);
                elem.removeClass('input-green input-red');

                if (elem.val() != '') {
                    $.post('index.php?module=API&method=Counter.checkPath&format=JSON', {'path': elem.val()}, function (response) {
                        if (response.value) {
                            elem.addClass('input-green');
                        } else {
                            elem.removeClass('input-green').addClass('input-red');
                        }
                    });
                } else {
                    elem.removeClass('input-green').addClass('input-red');
                    elem.next().empty().text('{{ 'Counter_Path_empty'|translate }}');
                }
            });
            $('#start_date').datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                onSelect: function (date) {
                    $('#start_date_period option').eq(0).prop('selected', 'selected');
                }
            });

            $('#idsite').change(function () {
                var _this = $(this);
                $('span.check-state').aurora.destroy({indexes: 'all'});

                if (this.value != 0 && this.value != {{ data.item.idsite }}) {
                    _this.attr('disabled', true);

                    $.ajax({
                        url: 'index.php?module=API&method=Counter.counterExists&idsite=' + this.value + '&format=JSON',
                        cache: false,
                        dataType: 'json'
                    }).done(function (response) {
                        if (response.value) {
                            $('span.check-state').aurora({
                                text: '{{ 'Counter_Counter_exists'|translate }}',
                                leave_only_first: true,
                                container: 'ui-state-error',
                                icon: 'ui-icon-alert',
                                placement: 'prepend',
                                button: 'close',
                                button_title: '[{{ 'General_Close'|translate }}]',
                                onComplete: function () {
                                    _this.attr('disabled', false);
                                }
                            });
                        } else {
                            _this.attr('disabled', false);
                            $('body').aurora.destroy({indexes: 'all'});
                        }
                    }).fail(function (jqxhr, textStatus, error) {
                        $('span.check-state').aurora({
                            text: '{{ 'Counter_Error_has_occurred'|translate }}',
                            leave_only_first: true,
                            container: 'ui-state-error',
                            icon: 'ui-icon-alert',
                            placement: 'prepend',
                            button: 'close',
                            button_title: '[{{ 'General_Close'|translate }}]'
                        });
                    });
                }
            });
            $('#start_date_period').change(function () {
                if ($('option', this).filter(':selected').val() != 'none') {
                    $('#start_date').val('');
                    if ($('option', this).filter(':selected').val() == 'day') {
                        $('#cache_time').val('86400');
                    }
                }
            }).trigger('change');

            $('#cache_time').blur(function () {
                if ($('#start_date_period option:selected').val() != 'none' && $(this).val() > 86400) {
                    $(this).val('86400');
                }
            });
            $('.save').click(function () {
                $('#action').val('save');
                $('#adminForm').submit();
            });
            $('.apply').click(function () {
                $('#action').val('apply');
                $('#adminForm').submit();
            });

            $('.preview').click(function () {
                $('#action').val('preview');
                var date = '',
                    form_data = $('form#adminForm').serialize();

                if ($('#start_date').val() == '' && $('#start_date_period option').filter(':selected').val() == 'none') {
                    date = '&date=day';
                }

                var dlg = $('<div style="display: none;" class="dialog" title="{{ 'Counter_Preview'|translate }}"><div class="small">{{ 'Counter_Preview_notice'|translate }}</div><br /><div><img src="index.php?' + form_data + date + '&_=' + new Date().getTime() + '" border="0" /></div></div>').appendTo('body');

                dlg.dialog({
                    buttons: {
                        '{{ 'General_Close'|translate }}': function () {
                            dlg.dialog('close');
                        }
                    },
                    draggable: false,
                    resizable: false,
                    modal: true,
                    height: 210,
                    width: 420
                });
            });
            $('.cmd-clear_cache').click(function (e) {
                e.preventDefault();
                var _this = $(this),
                    dlg = $('#cache_clear_dlg');
                dlg.aurora.destroy({indexes: 'all'});

                dlg.dialog({
                    buttons: {
                        '{{ 'Counter_Params_cache_clear_button'|translate }}': function () {
                            $.get('index.php?module=Counter&action=clearCache&id[]={{ data.item.id }}&format=JSON&c_nonce={{ data.cacheNonce }}', function (response) {
                                if (response.success) {
                                    dlg.dialog('close');
                                } else {
                                    $('p', dlg).aurora({
                                        text: '{{ 'Counter_Cache_clear_error'|translate }}<br />' + $(response).text(),
                                        leave_only_first: true,
                                        container: 'ui-state-error',
                                        icon: 'ui-icon-alert'
                                    });
                                }
                            });
                        },
                        '{{ 'General_Cancel'|translate }}': function () {
                            dlg.dialog('close');
                        }
                    },
                    draggable: false,
                    resizable: false,
                    modal: true,
                    height: 200,
                    width: 420
                });
            });
        });
    </script>

<div class="card ng-isolate-scope" style="margin-top: 0;">
    <div class="card-content">
        <h2>
            <a href="index.php?module=Counter&action=index&idSite=1&period=day&date=yesterday">{{ 'Counter_Page_main'|translate }}</a> &bull; {{ 'Counter_Edit'|translate }}
        </h2>

        <form action="index.php" method="post" id="adminForm" autocomplete="off">
            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <select name="siteid" id="idsite" class="ng-isolate-scope ng-pristine ng-valid" required>
                        <option value="0">{{ 'Counter_Params_siteselect'|translate }}</option>
                        {% for site in data.item.sites %}
                            <option value="{{ site.idsite }}"{% if site.idsite == data.item.idsite %} selected="selected"{% endif %}>{{ site.idsite }} - {{ site.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="idsite">{{ 'Counter_Params_site'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_site_desc'|translate|raw }}</div>
                </div>

                <div class="clearfix visible-xs-block"></div>
                <span class="check-state"></span>
            </div>

            <div piwik-field uicontrol="text" name="title" id="title" maxlength="50"
                 value="{{ data.item.title }}"
                 title="{{ 'Counter_Params_sitename'|translate }}"
                 inline-help="{{ 'Counter_Params_sitename_desc'|translate }}">
            </div>

            <div class="form-group row start_date">
                <div class="input-field col s12 m6">
                    <input type="text" name="start_date" value="{{ data.item.params.start_date }}" id="start_date" size="11" maxlength="10"/>
                    <label for="start_date">{{ 'Counter_Params_datestart'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_datestart_desc'|translate|raw }}</div>
                </div>
                <div class="input-field col s12 m6">
                    <select name="start_date_period" id="start_date_period">
                        <option value="none"{% if data.item.params.start_date_period == '' %} selected="selected"{% endif %}>-</option>
                        <option value="day"{% if data.item.params.start_date_period == 'day' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodDay'|translate }}</option>
                        <option value="yesterday"{% if data.item.params.start_date_period == 'yesterday' %} selected="selected"{% endif %}>{{ 'General_Yesterday'|translate }}</option>
                        <option value="week"{% if data.item.params.start_date_period == 'week' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodWeek'|translate }}</option>
                        <option value="month"{% if data.item.params.start_date_period == 'month' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodMonth'|translate }}</option>
                        <option value="year"{% if data.item.params.start_date_period == 'year' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodYear'|translate }}</option>
                    </select>
                    <label for="start_date_period">{{ 'Counter_Params_datestart_period'|translate }}</label>
                </div>

            </div>

            <div piwik-field uicontrol="text" name="visits" id="visits" maxlength="11"
                 value="{{ data.item.visits }}"
                 title="{{ 'Counter_Params_visits_label'|translate }}"
                 inline-help="{{ 'Counter_Params_visits_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="text" name="views" id="views" maxlength="11"
                 value="{{ data.item.views }}"
                 title="{{ 'Counter_Params_views_label'|translate }}"
                 inline-help="{{ 'Counter_Params_views_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="radio" name="format_numbers"
                 value="{{ data.item.params.format_numbers }}"
                 title="{{ 'Counter_Params_format_numbers_label'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'
                 inline-help="{{ 'Counter_Params_format_numbers_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="radio" name="published"
                 value="{{ data.item.published }}"
                 title="{{ 'Counter_Params_publish'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'>
            </div>

            <p class="separator_parent"><strong>{{ 'Counter_Params_pos_sep'|translate }}</strong></p>
            <p class="separator_children"><strong>{{ 'Counter_Params_pos_sep_sitename'|translate }}</strong></p>

            <div piwik-field uicontrol="radio" name="show_sitename"
                 value="{{ data.item.params.show_sitename }}"
                 title="{{ 'Counter_Params_show_sitename'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'>
            </div>

            <div piwik-field uicontrol="text" name="sitename_pos_x" id="sitename_pos_x" maxlength="3"
                 value="{{ data.item.params.sitename_pos_x }}"
                 introduction="{{ 'Counter_Params_sitename_pos_label'|translate }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}"
                 inline-help="{{ 'Counter_Params_visitors_pos_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="text" name="sitename_pos_y" id="sitename_pos_y" maxlength="3"
                 value="{{ data.item.params.sitename_pos_y }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}">
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="color_sitename" value="{{ data.item.params.color_sitename }}" id="color_sitename" size="7" maxlength="6"
                           class="color-picker" required/>
                    <label for="color_sitename">{{ 'Counter_Params_colors_sitename'|translate }}</label>
                </div>
            </div>

            <div piwik-field uicontrol="text" name="sitename_font_size" id="sitename_font_size" maxlength="2"
                 value="{{ data.item.params.sitename_font_size }}"
                 title="{{ 'Counter_Params_fontsize'|translate }}"
                 inline-help="{{ 'Counter_Params_fontsize_desc'|translate }}">
            </div>

            <p class="separator_children"><strong>{{ 'Counter_Params_pos_sep_visits'|translate }}</strong></p>

            <div piwik-field uicontrol="radio" name="show_visits"
                 value="{{ data.item.params.show_visits }}"
                 title="{{ 'Counter_Params_show_visits'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'>
            </div>

            <div piwik-field uicontrol="text" name="visitors_pos_x" id="visitors_pos_x" maxlength="3"
                 value="{{ data.item.params.visitors_pos_x }}"
                 introduction="{{ 'Counter_Params_visitors_pos_label'|translate }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}"
                 inline-help="{{ 'Counter_Params_visitors_pos_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="text" name="visitors_pos_y" id="visitors_pos_y" maxlength="3"
                 value="{{ data.item.params.visitors_pos_y }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}">
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="color_visits" value="{{ data.item.params.color_visits }}" id="color_visits" size="7" maxlength="6"
                           class="color-picker" required/>
                    <label for="color_visits">{{ 'Counter_Params_colors_visits'|translate }}</label>
                </div>
            </div>

            <div piwik-field uicontrol="text" name="visits_font_size" id="visits_font_size" maxlength="2"
                 value="{{ data.item.params.visits_font_size }}"
                 title="{{ 'Counter_Params_fontsize'|translate }}"
                 inline-help="{{ 'Counter_Params_fontsize_desc'|translate }}">
            </div>

            <p class="separator_children"><strong>{{ 'Counter_Params_pos_sep_hits'|translate }}</strong></p>

            <div piwik-field uicontrol="radio" name="show_views"
                 value="{{ data.item.params.show_views }}"
                 title="{{ 'Counter_Params_show_views'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'>
            </div>

            <div piwik-field uicontrol="text" name="views_pos_x" id="views_pos_x" maxlength="3"
                 value="{{ data.item.params.views_pos_x }}"
                 introduction="{{ 'Counter_Params_visitors_pos_label'|translate }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}"
                 inline-help="{{ 'Counter_Params_visitors_pos_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="text" name="views_pos_y" id="views_pos_y" maxlength="3"
                 value="{{ data.item.params.views_pos_y }}"
                 title="{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}">
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="color_views" value="{{ data.item.params.color_views }}" id="color_views" size="7" maxlength="6"
                           class="color-picker" required/>
                    <label for="color_views">{{ 'Counter_Params_colors_views'|translate }}</label>
                </div>
            </div>

            <div piwik-field uicontrol="text" name="hits_font_size" id="hits_font_size" maxlength="2"
                 value="{{ data.item.params.hits_font_size }}"
                 title="{{ 'Counter_Params_fontsize'|translate }}"
                 inline-help="{{ 'Counter_Params_fontsize_desc'|translate }}">
            </div>

            <p class="separator_parent">&nbsp;</p>

            <div class="form-group row img_size">
                <div class="input-field col s12 m6">
                    <input type="text" name="img_size_x" value="{{ data.item.params.img_size_x }}" id="img_size_x" size="4" maxlength="3" required/>&nbsp;x&nbsp;
                    <input type="text" name="img_size_y" value="{{ data.item.params.img_size_y }}" id="img_size_y" size="4" maxlength="3"
                           required/>{{ 'Counter_Params_img_size_px'|translate }}
                    <label for="img_size">{{ 'Counter_Params_img_size'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_img_size_desc'|translate }}</div>
                </div>
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="img_path" value="{{ data.item.params.img_path }}" id="img_path" class="paths" size="70"/>
                    <span>&nbsp;</span>
                    <label for="img_path">{{ 'Counter_Params_img_path'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_img_path_desc'|translate }}</div>
                </div>
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="font_path" value="{{ data.item.params.font_path }}" id="font_path" class="paths" size="70"/>
                    <span>&nbsp;</span>
                    <label for="font_path">{{ 'Counter_Params_fontpath'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_fontpath_desc'|translate }}</div>
                </div>
            </div>

            <div piwik-field uicontrol="radio" name="cache"
                 value="{{ data.item.params.cache }}"
                 title="{{ 'Counter_Params_cache'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'
                 inline-help="{{ 'Counter_Params_cache_off'|translate }}">
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="cache_time" value="{{ data.item.params.cache_time }}" id="cache_time" size="7" maxlength="7" required/>
                    <span class="form-description"> {{ 'Counter_Seconds'|translate }}</span>
                    <label for="cache_time">{{ 'Counter_Params_cache_time'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_cache_time_desc'|translate }}</div>
                </div>
            </div>

            <div piwik-field uicontrol="text" name="token" id="token" maxlength="64"
                 value="{{ data.item.params.token }}"
                 title="{{ 'Counter_Params_token_auth'|translate }}"
                 inline-help="{{ 'Counter_Params_token_auth_desc'|translate }}">
            </div>

            <p class="separator_parent"><strong>{{ 'Counter_Params_live_sep'|translate }}</strong></p>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="last_minutes" value="{{ data.item.params.last_minutes }}" id="last_minutes" size="4" maxlength="3"/>
                    <span class="form-description"> {{ 'Counter_Minutes'|translate }}</span>
                    <label for="last_minutes">{{ 'Counter_Params_live_period'|translate }}</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="input-field col s12 m6">
                    <input type="text" name="check_interval" value="{{ data.item.params.check_interval }}" id="check_interval" size="7" maxlength="6"/>
                    <span class="form-description"> {{ 'Counter_Mseconds'|translate }}</span>
                    <label for="check_interval">{{ 'Counter_Params_live_interval'|translate }}</label>
                </div>
                <div class="col s12 m6">
                    <div class="form-help ng-binding ng-scope">{{ 'Counter_Params_live_interval_desc'|translate }}</div>
                </div>
            </div>

            <div piwik-field uicontrol="radio" name="static"
                 value="{{ data.item.params.static }}"
                 title="{{ 'Counter_Params_live_static'|translate }}"
                 options='{1: "{{ 'General_Yes'|translate }}", 0: "{{ 'General_No'|translate }}"}'
                 inline-help="{{ 'Counter_Params_live_static_desc'|translate }}">
            </div>

            <div piwik-field uicontrol="text" name="livestat_elem_id" id="livestat_elem_id"
                 value="{{ data.item.params.livestat_elem_id }}"
                 title="{{ 'Counter_Params_live_elemid'|translate }}"
                 inline-help="{{ 'Counter_Params_live_elemid_desc'|translate|e('html_attr') }}">
            </div>

            <p class="separator_parent"><strong>{{ 'Counter_Params_tpl_by_countries_sep'|translate }}</strong></p>

            <div piwik-field uicontrol="textarea" name="tpl_by_countries" id="tpl_by_countries"
                 value="{{ data.item.params.tpl_by_countries }}"
                 title="{{ 'Counter_Params_tpl_by_countries'|translate }}"
                 inline-help="{{ 'Counter_Params_tpl_by_countries_desc'|translate|e('html_attr') }}">
            </div>

            <div piwik-field uicontrol="text" name="tpl_by_countries_elem_id" id="tpl_by_countries_elem_id"
                 value="{{ data.item.params.tpl_by_countries_elem_id }}"
                 title="{{ 'Counter_Params_live_elemid'|translate }}"
                 inline-help="{{ 'Counter_Params_live_elemid_desc'|translate|e('html_attr') }}">
            </div>

            <input type="hidden" name="module" value="Counter"/>
            <input type="hidden" name="action" value="" id="action"/>
            <input type="hidden" name="id" value="{{ data.item.id }}"/>
            <input type="hidden" name="nonce" value="{{ data.formNonce }}"/>

            <input type="button" value="{{ 'General_Save'|translate }}" class="btn save"/>
            <input type="button" value="{{ 'Counter_Apply'|translate }}" class="btn apply"/>
            <input type="button" value="{{ 'Counter_Preview'|translate }}" class="btn preview"/>
            <input type="button" value="{{ 'Counter_Params_cache_clear'|translate }}" class="btn cmd-clear_cache"/>
            <input type="button" value="{{ 'General_Close'|translate }}" class="btn go_back"/>
        </form>
    </div>

    <div style="display: none;" class="dialog" id="cache_clear_dlg" title="{{ 'Counter_Params_cache_clear'|translate }}">
        <p>{{ 'Counter_Params_cache_clear_q'|translate }}</p>
	</div>
</div>
    {% include '@Counter/default_footer.twig' %}
{% endblock %}
