{% extends "admin.twig" %}
{% block notification %}{% endblock %}

{% block content %}

<style type="text/css" media="all">
	@import url("plugins/Counter/assets/css/style.css");
</style>
<script type="text/javascript" src="plugins/Counter/assets/js/minicolors.min.js"></script>
<script type="text/javascript" src="plugins/Counter/assets/js/ui.aurora.min.js"></script>
<script type="text/javascript">
<!--
	jQuery(document).ready(function($){
		$('.color-picker').each(function(){
			$(this).minicolors({
				control: $(this).attr('data-control') || 'hue',
				defaultValue: $(this).attr('data-defaultValue') || '',
				letterCase: $(this).attr('data-letterCase') || 'lowercase',
				opacity: $(this).attr('data-opacity'),
				position: $(this).attr('data-position') || 'bottom left',
				theme: 'default'
			});
		});
		$('.go_back').click(function(){
			window.location.href = 'index.php?module=Counter&action=index&idSite={{ idSite }}&period={{ period }}&date={{ date }}';
		});
		$('input.paths').blur(function(){
			var elem = $(this);
			elem.removeClass('input-green input-red');

			if (elem.val() != '') {
				$.getJSON('index.php?module=Counter&action=checkpath', {'path':  elem.val()}, function(response){
					if (response.success == 1) {
						elem.addClass('input-green');
					} else {
						elem.removeClass('input-green').addClass('input-red');
					}
				});
			} else {
				elem.removeClass('input-green').addClass('input-red');
				elem.next().empty().text('{{ 'Counter_Path_empty'|translate }}');
			}
		});
		$('#start_date').datepicker({
			showButtonPanel: true,
			changeMonth: true,
			changeYear: true,
			showOn: 'both',
			buttonImage: 'plugins/Morpheus/images/icon-calendar.gif',
			buttonImageOnly: true,
			dateFormat: 'yy-mm-dd',
			onSelect: function(date){
				$('#start_date_period option').eq(0).prop('selected', 'selected');
			}
		});
		$('.save, .apply, .preview').prop('disabled', 'disabled');
		$('#idsite').change(function(){
			$('span.check-state').aurora.destroy({ indexes: 'all' });

			if (this.value != 0 && this.value != {{ data.idsite }}) {
				$.getJSON('index.php?module=Counter&action=siteidPrecheck&idsite='+this.value, function(response){
					if (response.success == 0) {
						$('span.check-state').aurora({
							text: '{{ 'Counter_Counter_exists'|translate }}',
							leave_only_first: true,
							container: 'ui-state-error',
							icon: 'ui-icon-alert'
						});
						$('.save, .apply, .preview').prop('disabled', 'disabled');
					} else {
						if ($('#start_date').val() == '') {
							$('#start_date').val(response.ts_created);
						}
						$('.save, .apply, .preview').removeProp('disabled');
					}
				});
			} else if (this.value == 0) {
				$('.save, .apply, .preview').prop('disabled', 'disabled');
			} else {
				$('.save, .apply, .preview').removeProp('disabled');
			}
		}).trigger('change');
		$('#start_date_period').change(function(){
			if ($('option', this).filter(':selected').val() != 'none') {
				$('#start_date').val('');
				if ($('option', this).filter(':selected').val() == 'day') {
					$('#cache_time').val('86400');
				}
			}
		}).trigger('change');
		$('#cache_time').blur(function(){
			if ($('#start_date_period option').filter(':selected').val() != 'none' && $(this).val() > 86400) {
				$(this).val('86400');
			}
		});
		$('.save').click(function(){
			$('#action').val('save');
			$('#adminForm').submit();
		});
		$('.apply').click(function(){
			$('#action').val('apply');
			$('#adminForm').submit();
		});
		$('.preview').click(function(){
			$('#action').val('preview');
			var date = '',
				form_data = $('form#adminForm').serialize();

			if ($('#start_date').val() == '' && $('#start_date_period option').filter(':selected').val() == 'none') {
				date = '&date=day';
			}

			var dlg = $('<div style="display: none;" class="dialog" title="{{ 'Counter_Preview'|translate }}"><div class="small">{{ 'Counter_Preview_notice'|translate }}</div><br /><div><img src="index.php?'+form_data+date+'&_='+new Date().getTime()+'" border="0" /></div></div>').appendTo('body');

			dlg.dialog({
				modal: true,
				height: 210,
				width: 420
			});
		});
		$('#clearCache').click(function(e){
			e.preventDefault();
			var _this = $(this),
				dlg = $('<div style="display: none;" class="dialog" title="{{ 'Counter_Params_cache_clear'|translate }}"><p>{{ 'Counter_Params_cache_clear_q'|translate }}</p></div>').appendTo('body');

			dlg.dialog({
				buttons: {
					'{{ 'Counter_Params_cache_clear_button'|translate }}': function(){
						$.get(_this.attr('href'), function(response){
							if (response.success == 1) {
								dlg.dialog('close');
							} else {
								$('p', dlg).aurora({
									text: '{{ 'Counter_Params_cache_clear_error'|translate }}',
									leave_only_first: true,
									container: 'ui-state-error',
									icon: 'ui-icon-alert'
								});
							}
						});
					},
					'{{ 'General_Cancel'|translate }}': function(){
						dlg.dialog('close');
					}
				},
				draggable: false,
				resizable: false,
				modal: true,
				height: 180,
				width: 420
			});
		});
	});
// -->
</script>
<div class="ui-widget-content">
	<h2><a href="index.php?module=Counter&action=index&idSite=1&period=day&date=yesterday">{{ 'Counter_Page_main'|translate }}</a> &bull; {{ 'Counter_Edit'|translate }}</h2>
	<form action="index.php" method="post" id="adminForm" autocomplete="off">
		<table class="adminTable" style="width:100%;">
			<tbody id="tables">
				<tr>
					<td width="30%" valign="top"><label for="site">{{ 'Counter_Params_site'|translate }}</label></td>
					<td>
						<select name="siteid" id="idsite">
							<option value="0">{{ 'Counter_Params_siteselect'|translate }}</option>
							{% for site in list_sites %}
							<option value="{{ site.idsite }}"{% if site.idsite == data.idsite %} selected="selected"{% endif %}>{{ site.idsite }} - {{ site.name }}</option>
							{% endfor %}
						</select>
						<span class="check-state"></span>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_site_desc'|translate|raw }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="title">{{ 'Counter_Params_sitename'|translate }}</label></td>
					<td>
						<input type="text" name="title" value="{{ data.title }}" id="title" size="70" maxlength="50" required />
					</td>
					<td width="30%">
						<label for="title">
							<div class="ui-inline-help">{{ 'Counter_Params_sitename_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="pub">{{ 'Counter_Params_publish'|translate }}</label></td>
					<td>
						<input type="radio" name="published" id="published_on" value="1"{% if data.published == 1 %} checked="checked"{% endif %} /> <label for="published_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="published" id="published_off" value="0"{% if data.published == 0 %} checked="checked"{% endif %} /> <label for="published_off">{{ 'Counter_Params_no'|translate }}</label>
					</td>
					<td width="30%">&nbsp;</td>
				</tr>
				<tr>
					<td class="separator_parent" colspan="3"><strong>{{ 'Counter_Params_pos_sep'|translate }}</strong></td>
				</tr>
				<tr>
					<td class="separator_children" colspan="3"><strong>{{ 'Counter_Params_pos_sep_sitename'|translate }}</strong></td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="show_sitename">{{ 'Counter_Params_show_sitename'|translate }}</label></td>
					<td>
						<input type="radio" name="show_sitename" id="show_sitename_on" value="1"{% if data.params.show_sitename == 1 %} checked="checked"{% endif %} /> <label for="show_sitename_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="show_sitename" id="show_sitename_off" value="0"{% if data.params.show_sitename == 0 %} checked="checked"{% endif %} /> <label for="show_sitename_off">{{ 'Counter_Params_no'|translate }}</label>
					</td>
					<td width="30%">&nbsp;</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="sitename_pos_x">{{ 'Counter_Params_sitename_pos_label'|translate }}</label></td>
					<td>
						<input type="text" name="sitename_pos_x" value="{{ data.params.sitename_pos_x }}" id="sitename_pos_x" size="4" maxlength="3" />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}<br />
						<input type="text" name="sitename_pos_y" value="{{ data.params.sitename_pos_y }}" id="sitename_pos_y" size="4" maxlength="3" required />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_visitors_pos_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="color_sitename">{{ 'Counter_Params_colors_sitename'|translate }}</label></td>
					<td>
						<input type="text" name="color_sitename" value="{{ data.params.color_sitename }}" id="color_sitename" size="7" maxlength="6" class="color-picker" required />
					</td>
					<td width="30%">
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="sitename_font_size">{{ 'Counter_Params_fontsize'|translate }}</label></td>
					<td>
						<input type="text" name="sitename_font_size" value="{{ data.params.sitename_font_size }}" id="sitename_font_size" size="3" maxlength="2" required />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_fontsize_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td class="separator_children" colspan="3"><strong>{{ 'Counter_Params_pos_sep_visits'|translate }}</strong></td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="show_visits">{{ 'Counter_Params_show_visits'|translate }}</label></td>
					<td>
						<input type="radio" name="show_visits" id="show_visits_on" value="1"{% if data.params.show_visits == 1 %} checked="checked"{% endif %} /> <label for="show_visits_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="show_visits" id="show_visits_off" value="0"{% if data.params.show_visits == 0 %} checked="checked"{% endif %} /> <label for="show_visits_off">{{ 'Counter_Params_no'|translate }}</label>
					</td>
					<td width="30%">&nbsp;</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="visitors_pos_x">{{ 'Counter_Params_visitors_pos_label'|translate }}</label></td>
					<td>
						<input type="text" name="visitors_pos_x" value="{{ data.params.visitors_pos_x }}" id="visitors_pos_x" size="4" maxlength="3" required />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}<br />
						<input type="text" name="visitors_pos_y" value="{{ data.params.visitors_pos_y }}" id="visitors_pos_y" size="4" maxlength="3" required />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_visitors_pos_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="color_visits">{{ 'Counter_Params_colors_visits'|translate }}</label></td>
					<td>
						<input type="text" name="color_visits" value="{{ data.params.color_visits }}" id="color_visits" size="7" maxlength="6" class="color-picker" required />
					</td>
					<td width="30%">
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="visits_font_size">{{ 'Counter_Params_fontsize'|translate }}</label></td>
					<td>
						<input type="text" name="visits_font_size" value="{{ data.params.visits_font_size }}" id="visits_font_size" size="3" maxlength="2" required />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_fontsize_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td class="separator_children" colspan="3"><strong>{{ 'Counter_Params_pos_sep_hits'|translate }}</strong></td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="show_views">{{ 'Counter_Params_show_views'|translate }}</label></td>
					<td>
						<input type="radio" name="show_views" id="show_views_on" value="1"{% if data.params.show_views == 1 %} checked="checked"{% endif %} /> <label for="show_views_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="show_views" id="show_views_off" value="0"{% if data.params.show_views == 0 %} checked="checked"{% endif %} /> <label for="show_views_off">{{ 'Counter_Params_no'|translate }}</label>
					</td>
					<td width="30%">&nbsp;</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="views_pos_x">{{ 'Counter_Params_views_pos_label'|translate }}</label></td>
					<td>
						<input type="text" name="views_pos_x" value="{{ data.params.views_pos_x }}" id="views_pos_x" size="4" maxlength="3" required />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_left'|translate }}<br />
						<input type="text" name="views_pos_y" value="{{ data.params.views_pos_y }}" id="views_pos_y" size="4" maxlength="3" required />{{ 'Counter_Params_img_size_px'|translate }} {{ 'Counter_Params_padd_top'|translate }}
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_visitors_pos_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="color_views">{{ 'Counter_Params_colors_views'|translate }}</label></td>
					<td>
						<input type="text" name="color_views" value="{{ data.params.color_views }}" id="color_views" size="7" maxlength="6" class="color-picker" required />
					</td>
					<td width="30%">
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="hits_font_size">{{ 'Counter_Params_fontsize'|translate }}</label></td>
					<td>
						<input type="text" name="hits_font_size" value="{{ data.params.hits_font_size }}" id="hits_font_size" size="3" maxlength="2" required />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_fontsize_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td class="separator_parent" colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="img_size">{{ 'Counter_Params_img_size'|translate }}</label></td>
					<td>
						<input type="text" name="img_size_x" value="{{ data.params.img_size_x }}" id="img_size_x" size="4" maxlength="3" required />
						&nbsp;x&nbsp;
						<input type="text" name="img_size_y" value="{{ data.params.img_size_y }}" id="img_size_y" size="4" maxlength="3" required />
						{{ 'Counter_Params_img_size_px'|translate }}
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_img_size_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="img_path">{{ 'Counter_Params_img_path'|translate }}</label></td>
					<td>
						<input type="text" name="img_path" value="{{ data.params.img_path }}" id="img_path" class="paths" size="70" />
						<span>&nbsp;</span>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_img_path_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="font_path">{{ 'Counter_Params_fontpath'|translate }}</label></td>
					<td>
						<input type="text" name="font_path" value="{{ data.params.font_path }}" id="font_path" class="paths" size="70" />
						<span>&nbsp;</span>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_fontpath_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="cache">{{ 'Counter_Params_cache'|translate }}</label></td>
					<td>
						<input type="radio" name="cache" id="cache_on" value="1"{% if data.params.cache == 1 %} checked="checked"{% endif %} /> <label for="cache_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="cache" id="cache_off" value="0"{% if data.params.cache == 0 %} checked="checked"{% endif %} /> <label for="cache_off">{{ 'Counter_Params_no'|translate }}</label>
						<span style="display: block; clear: none; float: right;"><a href="index.php?module=Counter&action=clearCache&id={{ data.id }}&lifetime={{ data.params.cache_time }}" id="clearCache">{{ 'Counter_Params_cache_clear'|translate }}</a></span>
						<span id="cache"></span>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_cache_off'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="cache_time">{{ 'Counter_Params_cache_time'|translate }}</label></td>
					<td>
						<input type="text" name="cache_time" value="{{ data.params.cache_time }}" id="cache_time" size="7" maxlength="6" required />{{ 'Counter_Params_seconds'|translate }}
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_cache_time_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="start_date">{{ 'Counter_Params_datestart'|translate }}</label></td>
					<td><a name="date_global"></a>
						<input type="text" name="start_date" value="{{ data.params.start_date }}" id="start_date" size="11" maxlength="10" />
						<label for="">{{ 'Counter_Params_datestart_period'|translate }}</label>
						<select name="start_date_period" id="start_date_period">
							<option value="none"{% if data.params.start_date_period == '' %} selected="selected"{% endif %}>-</option>
							<option value="day"{% if data.params.start_date_period == 'day' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodDay'|translate }}</option>
							<option value="yesterday"{% if data.params.start_date_period == 'yesterday' %} selected="selected"{% endif %}>{{ 'General_Yesterday'|translate }}</option>
							<option value="week"{% if data.params.start_date_period == 'week' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodWeek'|translate }}</option>
							<option value="month"{% if data.params.start_date_period == 'month' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodMonth'|translate }}</option>
							<option value="year"{% if data.params.start_date_period == 'year' %} selected="selected"{% endif %}>{{ 'CoreHome_PeriodYear'|translate }}</option>
						</select>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_datestart_desc'|translate|raw }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="token">{{ 'Counter_Params_token_auth'|translate }}</label></td>
					<td>
						<input type="text" name="token" value="{{ data.params.token }}" id="token" size="70" maxlength="64" required />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_token_auth_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td class="separator_parent" colspan="3"><strong>{{ 'Counter_Params_live_sep'|translate }}</strong></td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="last_minutes">{{ 'Counter_Params_live_period'|translate }}</label></td>
					<td>
						<input type="text" name="last_minutes" value="{{ data.params.last_minutes }}" id="last_minutes" size="4" maxlength="3" />
					</td>
					<td width="30%">
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="check_interval">{{ 'Counter_Params_live_interval'|translate }}</label></td>
					<td>
						<input type="text" name="check_interval" value="{{ data.params.check_interval }}" id="check_interval" size="7" maxlength="6" />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_live_interval_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label>{{ 'Counter_Params_live_static'|translate }}</label></td>
					<td>
						<input type="radio" name="static" id="static_on" value="1"{% if data.params.static == 1 %} checked="checked"{% endif %} /> <label for="static_on">{{ 'Counter_Params_yes'|translate }}</label>
						<input type="radio" name="static" id="static_off" value="0"{% if data.params.static == 0 %} checked="checked"{% endif %} /> <label for="static_off">{{ 'Counter_Params_no'|translate }}</label>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_live_static_desc'|translate }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="livestat_elem_id">{{ 'Counter_Params_live_elemid'|translate }}</label></td>
					<td>
						<input type="text" name="livestat_elem_id" value="{{ data.params.livestat_elem_id }}" id="livestat_elem_id" size="70" />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_live_elemid_desc'|translate|raw }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td class="separator_parent" colspan="3"><strong>{{ 'Counter_Params_tpl_by_countries_sep'|translate }}</strong></td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="tpl_by_countries">{{ 'Counter_Params_tpl_by_countries'|translate }}</label></td>
					<td>
						<textarea name="tpl_by_countries" id="tpl_by_countries" cols="50" rows="5" spellcheck="false" style="width: 458px;">{{ data.params.tpl_by_countries }}</textarea>
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_tpl_by_countries_desc'|translate|raw }}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td width="30%" valign="top"><label for="tpl_by_countries_elem_id">{{ 'Counter_Params_live_elemid'|translate }}</label></td>
					<td>
						<input type="text" name="tpl_by_countries_elem_id" value="{{ data.params.tpl_by_countries_elem_id }}" id="tpl_by_countries_elem_id" size="70" />
					</td>
					<td width="30%">
						<label for="idsite">
							<div class="ui-inline-help">{{ 'Counter_Params_live_elemid_desc'|translate|raw }}</div>
						</label>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="module" value="Counter" />
		<input type="hidden" name="action" value="" id="action" />
		<input type="hidden" name="id" value="{{ data.id }}" />
		<p>
			<input type="button" value="{{ 'General_Save'|translate }}" class="submit save" />
			<input type="button" value="{{ 'Counter_Apply'|translate }}" class="submit apply" />
			<input type="button" value="{{ 'Counter_Preview'|translate }}" class="submit preview" />
			<input type="button" value="{{ 'General_Close'|translate }}" class="submit go_back" />
		</p>
	</form>
</div>

{% include '@Counter/default_footer.twig' %}
{% endblock %}
