<br/>
<div class="c-footer">
	<div class="copy">{{ 'General_Plugin'|translate }} <a href="{{ data.plugin_info.info.homepage }}" target="_blank">Counter</a> {{ data.plugin_info.info.version }}
	</div>
	<a href="{{ 'Counter_Footer_found_err_url'|translate }}" target="_blank">{{ 'Counter_Footer_found_err'|translate }}</a>
</div>
